src/main/resources/data/drones.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="drones">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="drone" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="droneName"/>
              <xs:element type="xs:short" name="batteryCapacity"/>
              <xs:element type="xs:double" name ="price"/>
              <xs:element type="xs:string" name="droneNew"/>
              <xs:element type="xs:string" name="framsShape"/>
              <xs:element type="xs:string" name="isAutonomus"/>
              <xs:element type="xs:dateTime" name="lastUpdateDate"/>
              <xs:element type="xs:string" name="managerName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>