src/main/resources/data/drones_form.dtd

<!ELEMENT drones (drone*)>

<!ELEMENT drone (droneName, batteryCapacity, price, droneNew, framsShape, isAutonomus, lastUpdateDate, managerName?)>

<!ELEMENT droneName (#PCDATA)>
<!ELEMENT batteryCapacity (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT droneNew (#PCDATA)>
<!ELEMENT framsShape (#PCDATA)>
<!ELEMENT isAutonomus (#PCDATA)>
<!ELEMENT lastUpdateDate (#PCDATA)>
<!ELEMENT managerName (#PCDATA)>
